* {
  padding: 0;
  margin: 0;
}
h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  text-align: center;
}

html, body {
	height: 100%;
	width: 100%;
}

.navbar {
	font-size: 1.5em;
}

.navbar-dark .navbar-nav .nav-link {
  color: #D5D5D5;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

.navbar-collapse.collapse.in {
  display: inline-block;
}

#Start {
	background: url(img/bg-fixed.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

#About {
  padding: 5% 0 5% 0;
}

.img-responsive {
  max-width: 100%;
}

#Technologies {
  padding: 1% 0 5% 0;
  background: rgb(57, 64, 70);
}
#Technologies h2{
  text-align: center;
  font-size: 3.5rem;
}

.Technologia {
  text-align: center;
  font-size: 2em;
}

.Technologia i {
  font-size: 7rem;
  margin-top: 15px;
}

#fixed {
  background: url(img/bg-fixed.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.header h2 {
  font-size: 4rem;
  text-align: center;
}
.project-item img {
  width: 100%;
  height: 100%;
}