* {
  padding: 0;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
}

html, body {
	height: 100%;
  width: 100%;
  font-family: 'Mukta Malar', sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.main-header__logo {
  color: whitesmoke;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  padding: 10px;
}

.main-header__logo img {
  max-width: 100%;
  height: 100%;
}

.main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, .7);
  z-index: 1;
  padding-right: 2rem;
  float: right;
  transition: 0.3s;
}

.main-nav__items {
  text-align: center;
  display: none;
}

.active {
  display: block;
  float: none;
  text-align: center;
}

.main-nav__item {
  list-style: none;
  padding: 0.45rem 0;
}

.main-nav__item a {
  color: whitesmoke;
  font-weight: 400;
  font-size: 1.4rem;
}

.main-nav__item a:hover {
  color: whitesmoke;
  font-weight: 400;
  font-size: 1.5rem;
  transition: 0.3s;
}

#start {
	background: url(img/bg-fixed.jpg) no-repeat center center fixed;
  display: table;
  top: 0;
  left: 0;
	height: 100%;
	position: relative;
	width: 100%;
  background-size: cover;
  
}

.landing-text {
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}

.landing-text-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-text h1 {
  font-size: 3.8rem;
  font-weight: 700;
  flex-basis: 100%;
  text-align: center;
}

.landing-text p {
  font-size: 1rem;
  margin: 2rem 0;
  font-weight: 400;
  flex-basis: 80%;
  text-align: center;
}
.landing-text-buttons {
  flex-basis: 100%;
  text-align: center;
}

.landing-text-buttons button {
  width: 80%;
  padding: 14px 0;
  margin-top: 0.5rem;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  background-color: transparent;
  color: rgb(94, 96, 99);
  background-color: transparent;
  border: 1px solid rgb(94, 96, 99);
  padding: 13px 0;
  transition: color 0.4s, background 0.4s;
}

.landing-text-buttons a button:hover {
  background-color :rgb(94, 96, 99);
  color: #333;
}

#about {
  padding: 1% 0 1% 0;
}

.about-header {
  text-align: center;
  margin-top: 1rem;
}

.about-header h2 {
  font-size: 3.5rem;
  padding: 5rem 0 2rem 0;
}

.about-container {
  padding: 2rem 0;
  display: flex;
}

.about-photo {
  display: none;
  flex-basis: 30%;
}

.about-photo img {
  width: 100%;
}

.about-text {
  flex-basis: 100%;
  font-size: 1.2rem;
  box-sizing: border-box;
  text-align: center;
  padding: 0 0.5rem;
}

.about-text h2 {
  text-align: center;
}

#technologies {
  padding: 1rem 0 1rem 0;
  background: rgb(57, 64, 70);
}
#technologies h2 {
  text-align: center;
	font-size: 3.5rem;
  color: whitesmoke;
  padding-top: 5rem;
}
#technologies h3 { 
	color: whitesmoke;
}

.technologies-icons {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.technologies-icon {
  text-align: center;
  font-size: 1.5em;
  flex-basis: 50%;
  padding-top: 1.5rem;
}

.technologies-icon i {
  font-size: 5rem;
	margin-top: 15px;
	color: whitesmoke;
}

#fixed {
  background: url(img/bg-fixed.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.projects-header {
  padding-top: 1rem;
}
.projects-header h2 {
  padding: 5rem 0 5rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.projects-items {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.projects-item {
  margin-top: 1rem;
  flex-basis: 70%;
}

.projects-item img {
  max-width: 100%;
  max-height: 100%;
}

#footer {
  background: rgb(57, 64, 70);
}

.footer-header h2 {
  padding: 5rem 0 2rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: whitesmoke;
}

.footer-content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.contact-form {
  width: 100%;
  margin: 30px auto 0 auto;
  box-sizing: border-box;
  padding: 20px;
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    flex-basis: 100%;
    margin: 0.5rem 0 0.5rem 0;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus,
.hero-area-btns button:focus,
.contact-form input[type="submit"]:focus {
    outline: none;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form form textarea {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #DDD;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: #DDD;
    font-family: 'Mukta Malar', sans-serif;
}

.contact-form textarea {
  flex-basis: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
  resize: none;
}

.contact-form input[type="submit"] {
  background: transparent;
  border: 1px solid #DDD;
  color: #DDD;
  font-family: 'Mukta Malar', sans-serif;
  font-size: 2rem;
  padding: 10px 25px;
  border-radius: 20px;
  transition: color 0.2s, border 0.4s, transform 0.4s;
  margin: 0 auto;
}

.contact-form input[type="submit"]:hover {
  color: rgb(94, 96, 99);
  border-color: rgb(94, 96, 99);
}

.footer-contact-icons {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.footer-contact-icons-list {
  list-style: none;
  text-decoration: none;
}

.footer-contact-icons-list li {
  margin-bottom: 1rem;
}

.footer-contact-icons-list li a {
  font-family: 'Mukta Malar', sans-serif;
  font-size: 1.1rem;
  color: whitesmoke;
}

.footer-contact-icons-list li a i {
  margin-right: 0.5rem;
}
/* Mobile navigation */
.toggle {
  padding: 10px;
  text-align: right;
  box-sizing: border-box;
  color: whitesmoke;
  font-size: 2rem;
  float: right;
  vertical-align: middle;
}

@media (min-width: 1199px) {
  .container {
    width: 1200px;
  }
  .toggle {
    display: none;
  }
  .main-header__logo {
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
    padding: 0.5rem;
  }
  .main-nav__items {
    vertical-align: middle;
    list-style: none;
    float: right;
    display: inline-block;
  }

  .main-nav__item {
    display: inline-block;
    text-align: center;
    padding: 30px 20px 10px 20px;
  }

  .main-nav__item a {
    font-weight: 400;
    font-size: 1rem;
  }

  .landing-text h1 {
    font-size: 6rem;
    font-weight: 400;
    flex-basis: 100%;
  }
  
  .landing-text p {
    font-size: 2.6rem;
    font-weight: 400;
    flex-basis: 80%;
  }

  .landing-text-buttons button {
    width: 18%;
  }

  .about-container {
    display: flex;
  }
  
  .about-photo {
    display: block;
    flex-basis: 20%;
  }
  
  .about-photo img {
    width: 100%;
  }
  
  .about-text {
    flex-basis: 80%;
    font-size: 1.2rem;
    padding-left: 50px;
    box-sizing: border-box;
  }
  
  .about-text h2 {
    text-align: center;
  }

  .technologies-icon {
    flex-basis: 16.66%;
  }

  .projects-item {
    margin-top: 1rem;
    flex-basis: 50%;
  }

  .footer-content {
    margin-bottom: 3rem;
  }
  .contact-form {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 20px;
  }
  .footer-contact-icons {
    flex-basis: 50%;
    justify-content: center;
  }

  .footer-contact-icons li a {
    font-size: 1.7rem;
  }

  .footer-contact-icons li a i {
    margin-right: 1rem;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    flex-basis: 48%;
}

}

@media (orientation: landscape) {
  .landing-text-buttons button {
    width: 40%;
  }

  .landing-text h1 {
    font-size: 3.5rem;
  }

  .landing-text p {
    margin: 1rem 0;
  }
}
